name: docker image wrapper

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Pull & Rename Images
        run: |
          IFS=$'\n\n' && for img in $(cat images.txt);do echo $img | awk '{print $1}'| xargs -I {} docker pull {};done
          IFS=$'\n\n' && for img in $(cat images.txt);do echo $img | awk '{print $1}' | awk -F/ '{print $NF}' | xargs -I {} docker tag $(echo $img | awk '{print $1}') ka1i137/$(echo $img | awk '{print $2}')-{} ;done
      - name: Show All Images
        run: |
          docker images
      - name: Show Mine Images
        run: |
          docker images| grep ka1i137
      - name: Push Images
        run: |
          for img in $(docker images| grep ka1i137 | awk -v OFS=':' '{print $1,$2}');do docker push $img ;done
